#selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  font-size: 2rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 45%;
  padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}
