* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#title {
  margin-top: 15%;
  padding-left: 10%;
}

body {
  height: 100vh;
  width: 100%;
  background: url(img/Project-BG.png);
  padding: 20;
  color: white;
  font-family: "Mukta", sans-serif;
  font-family: "Poppins", sans-serif;
}

#bigsquare {
  width: 80%;
  height: 70vh;
  position: absolute;
  top: 12%;
  left: 7%;
  border: 12px solid #fafbfc;
}

h1 {
  font-size: 40px;
  padding: 20px;
}
