* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* #title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 51vh;
} */

body {
  height: 100vh;
  width: 100%;
  background: url(img/bg-black.png);
  color: white;
  font-family: "Poppins", sans-serif;
}

#bigsquare {
  width: 80%;
  height: 70vh;
  position: absolute;
  top: 12%;
  left: 7%;
  border: 12px solid white;
}

#title {
  width: 50%;
  padding: 1rem;
  font-size: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

#title h1,
#title h2 {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#title h1:before {
  content: "";
  position: absolute;
  left: 120%;
  width: 120%;
  height: 100%;
  background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);

  animation: fade-in 0.5s linear forwards;
}

#title h3:before {
  content: "";
  position: absolute;
  left: 100%;
  width: 50%;
  height: 2.5rem;
  background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);

  animation: fade-in 2s linear forwards;
}

@keyframes fade-in {
  from {
    left: 0%;
  }
  to {
    left: 120%;
  }
}
@media screen and (max-width: 1270px) {
  nav ul {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1100px) {
  nav ul {
    word-spacing: 0.5rem;
  }
  #title {
    width: 62%;
  }
}

@media screen and (max-width: 1050px) {
  nav ul {
    word-spacing: 1rem;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1000px) {
  nav ul {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 916px) {
  nav ul {
    font-size: 1.2rem;
    word-spacing: 0.4rem;
  }
  #title {
    width: 65%;
  }
}

@media screen and (max-width: 848px) {
  #title {
    width: 80%;
  }
}
