* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 51vh;
}

body {
  height: 100vh;
  width: 100%;
  background: url(img/Project-BG.png);
  padding: 20;
  color: white;
  font-family: "Mukta", sans-serif;
  font-family: "Poppins", sans-serif;
}

#bigsquare {
  width: 80%;
  height: 70vh;
  position: absolute;
  top: 12%;
  left: 7%;
  border: 12px solid white;
}

h1 {
  font-size: 2.5rem;
}
